################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AwesomeBank/FileContentIndex/11173c17-9086-43cc-aea3-776a5d7def42.vsidx
/.vs/AwesomeBank/v17
